body{
    background-image:linear-gradient(45deg,#11d8ea,rgb(9, 9, 139));
    height: 100vh;
      align-content: center;
}
  
h1{
color: #FFF;
text-align: center;
}

h2{
    color:#fff;
    text-align: center;
}


.ele{
  background-color:transparent;
  color: rgb(201, 191, 196);
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 20px;
  margin: 20px;
}


.ele:hover{
 background-image: linear-gradient(45deg,#1b134538,#99b6b951);
 filter: drop-shadow( #f5f5f698);
}


.container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content:center;

}


.ele:nth-child(1) {
top: 0;
left: 0;
transform: translate(-50%, -50%);
animation: moveTopLeft 2s ease-in-out forwards;
}

.ele:nth-child(2) {
top: 0;
right: 0;
transform: translate(50%, -50%);
animation: moveTopRight 2s ease-in-out forwards;
}

.ele:nth-child(3) {
bottom: 0;
left: 0;
transform: translate(-50%, 50%);
animation: moveBottomLeft 2s ease-in-out forwards;
}

.ele:nth-child(4) {
bottom: 0;
right: 0;
transform: translate(50%, 50%);
animation: moveBottomRight 2s ease-in-out forwards;

}

@keyframes moveTopLeft {
0% { transform: translate(-50%, -50%); }
100% { transform: translate(0, 0); }
}

@keyframes moveTopRight {
0% { transform: translate(50%, -50%); }
100% { transform: translate(0, 0); }
}

@keyframes moveBottomLeft {
0% { transform: translate(-50%, 50%); }
100% { transform: translate(0, 0); }
}

@keyframes moveBottomRight {
0% { transform: translate(50%, 50%); }
100% { transform: translate(0, 0); }
}

button{
color: #ffffff;
margin-top: 20px;
padding: 5px;
width: 100px;
border: 1px transparent;
border-radius: 50px;
background-color: #ee0860;
justify-content: center;
}
button:hover{
    filter: drop-shadow(0 0 10px #ffff00);
}
